.container {
  padding: 5px 40px;
  margin: 0;
  max-width: 100%;
}

.list-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.search-tasks {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.header-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-tasks span {
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
}

.header-tasks .active {
  font-weight: 600;
}

.create-task {
  margin: 20px 0;
  display: flex;
}

h1 span{
  font-weight: 400;
  font-size: 14px;
  margin: 4px;
}

h1 {
  margin-bottom: 0;
}

h4 {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
}

button {
  background-color: #2ecc71;
  padding: 8px 12px;
  border-radius: 0.3em;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 0 8px;
  cursor: pointer;
}

input {
  font-size: 14px;
  background-color: #ecf0f1;
  padding: 3px 8px;
  height: 34px;
  border-radius: 0.3em;
  margin: 10px 0;
  margin-right: 5px;
  outline: none;
  box-shadow: 0px 0px 2px #95a5a6;
  border: none;
}

.search-tasks input {
  width: 31%;
}

.item-task {
  padding: 8px;
  display: flex;
  align-items: top;
  align-self: top;
  margin: 8px 5px;
  background-color: #ecf0f1;
  border-radius: 0.3em;
  box-shadow: 0px 0px 2px #95a5a6;
  width: 31%;
}

.no-form {
  display: block;
  border: 3px #95a5a6 dotted;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

.icon-task {
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.date-task {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.title-task {
  margin: 0;
}

.date-task {
  margin-top: 5px;
}

.options-task {
  margin-left: auto;
  display: flex;
  align-self: center;
}

.options-task div {
  display: inline;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}

.navbar {
  width: 100%;
  height: 70px;
  max-width: 100%;
  background-color: #95a5a6;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline;
  text-decoration: none;
  margin-right: 5px;
}

.navbar h1 {
  margin: 0;
}



@media (max-width: 1200px) {
  .item-task, .search-tasks input {
    width: 100%;
  }

  .options-header {
    text-align: left;
  }
  .header-tasks span {
    display: block;
  }
}

.tasks-paginate {
  text-align: center;
  display: block;
  width: 400px;
  padding: 30px 0;
  color: #2ecc71;
  font-weight: 600;
}

